* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
}

body {
	background: #2a2a2a;
	color: #fff;
}

header {
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	padding: 22px 15%;
	border-bottom: 1px solid transparent;
	transition: all .45s ease;
}

.logo {
	color: #fff;
	font-size: 40px;
	font-weight: 700;
	letter-spacing: 1px;
}

span {
	color: #7fd21c;
}

.navlist {
	display: flex;
}

.navlist a {
	color: #ccc;
	font-size: 17px;
	font-weight: 500;
	margin: 0 25px;
	transition: all .45s ease;
}

.navlist a:hover {
	color: #7fd21c;
}

.navlist a.active {
	color: #7fd21c;
}

#menu-icon {
	font-size: 35px;
	color: #fff;
	z-index: 10001;
	cursor: pointer;
	margin-left: 25px;
	display: none;
}

section {
	padding: 160px 15% 120px;
}

section {
	padding: 160px 15% 120px;
}

.home {
	background: #202020;
}

.slide {
	margin-bottom: 20px;
}

.one {
	display: inline-block;
	margin-right: 15px;
	height: 32px;
	padding: 0 15px;
	line-height: 32px;
	font-size: 20px;
	font-weight: 500;
	border-radius: 5px;
	background: #7fd21c;
	color: #fff;
}

.two {
	display: inline-block;
	color: #ccc;
	font-size: 20px;
	font-weight: 500;
}

.home-text h1 {
	font-size: 5rem;
	font-weight: 700;
	color: #fff;
	line-height: 1.1;
	margin: 0 0 8px;
}

.home-text h3 {
	color: #fff;
	margin: 0 0 35px;
	font-size: 3rem;
	font-weight: 700;
	line-height: 1.1;
}

.home-text p {
	color: #ccc;
	font-size: 1.1rem;
	line-height: 1.8;
	margin-bottom: 40px;
}

.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.btn {
	display: inline-block;
	padding: 12px 28px;
	background: #7fd21c;
	border-radius: 5px;
	color: #fff;
	font-size: 1rem;
	letter-spacing: 1px;
	font-weight: 400;
	transition: all .45s ease;
}

.btn:hover {
	transform: scale(1.1) translateY(5px);
}

.btn2 {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
	font-weight: 4 00;
	color: #fff;
	margin-left: 35px;
}

.btn2 span i {
	height: 50px;
	width: 50px;
	background: #7fd21c;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 35px;
	border-radius: 50%;
	margin-right: 15px;
	transition: all .45s ease;
}

.btn2 span i:hover {
	transform: scale(1.1) translateY(5px);
}

header.sticky {
	background: #2a2a2a;
	border-bottom: 1px solid #ffffff1a;
	padding: 12px 15%;
}

.about {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 1.5rem;
}

.about-img img {
	max-width: 530px;
	height: auto;
	width: 100%;
	border-radius: 8px;
}

.about-text h2 {
	font-size: 3rem;
	line-height: 1;
}

.about-text h4 {
	font-size: 24px;
	font-weight: 600;
	color: #fff;
	line-height: 1.7;
	margin: 15px 0 30px;
}

.about-text p {
	color: #ccc;
	font-size: 1.1rem;
	line-height: 1.8;
	margin-bottom: 4rem;
}

.services {
	background: #202020;
}

.main-text {
	text-align: center;
}

.main-text p {
	color: #ccc;
	font-size: 15px;
	margin-bottom: 15px;
}

.main-text h2 {
	font-size: 3rem;
	line-height: 1;
}

.services-content {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, auto));
	align-items: center;
	gap: 2.5rem;
	margin-top: 5rem;
}

.box {
	background: #2a2a2a;
	padding: 35px 45px;
	border-radius: 8px;
	transition: all .45s ease;
}

.s-icons i {
	font-size: 32px;
	margin-bottom: 20px;
}

.box h3 {
	font-size: 24px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 15px;
}

.box p {
	color: #ccc;
	font-size: 1rem;
	line-height: 1.8;
	margin-bottom: 25px;
}

.read {
	display: inline-block;
	padding: 8px 18px;
	background: #333333;
	color: #ccc;
	font-size: 14px;
	font-weight: 500;
	border-radius: 8px;
	transition: all .45s ease;
}

.read:hover {
	letter-spacing: 1px;
	background: #ffffff99;
	color: #fff;
}

.box:hover {
	transform: translateY(-8px);
	cursor: pointer;
}

.contact {
	background: #2a2a2a;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 2.5rem;
}

.contact-text h4 {
	color: #fff;
	margin: 18px 0;
	font-size: 20px;
	font-weight: 600;
}

.contact-text h2 {
	font-size: 3rem;
	line-height: 1;
}

.contact-text p {
	color: #ccc;
	font-size: 1.1rem;
	line-height: 1.8;
	margin-bottom: 30px;
}

.list {
	margin-bottom: 2.8rem;
}

.list li {
	margin-bottom: 12px;
}

.list li a {
	display: block;
	color: #ccc;
	font-size: 16px;
	transition: all .45s ease;
}

.list li a:hover {
	color: #fff;
	font-weight: 500;

	transform: translateX(5px);
}

.contact-icons i {
	height: 45px;
	width: 45px;
	background: #7fd21c;
	color: #fff;
	font-size: 22px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	margin-right: 15px;
	transition: all .45s ease;
}

.contact-icons i:hover {
	background: #fff;
	color: #7fd21c;
}

@media (max-width: 1480px) {
	header {
		padding: 12px 2.5%;
		transition: .1s;
	}

	header.sticky {
		padding: 10px 2.5%;
		transition: .1s;
		;
	}

	section {
		padding: 110px 3% 60px;
	}

	.end {
		padding: 15px 3%;
	}
}

@media (max-width: 1100px) {
	:root {
		--big-font: 4rem;
		--h2-font: 2.5rem;
		--p-font: 1rem;
		transition: .1s;
	}

	.home-text h3 {
		font-size: 2.5rem;
	}

	.home {
		height: 87vh;
	}
}

@media (max-width: 920px) {
	.about {
		grid-template-columns: 1fr;
	}

	.about-img {
		text-align: center;
		order: 2;
	}

	.about-img img {
		width: 100%;
		height: auto;
		max-width: 100%;
	}

	.contact {
		grid-template-columns: 1fr;
	}
}

@media (max-width: 840px) {
	#menu-icon {
		display: block;
	}

	.logo {
		display: none;
	}	

	.navlist {
		position: absolute;
		top: -1000px;
		right: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		background: #2a2a2a;
		text-align: left;
		transition: all .45s ease;
	}

	.navlist a {
		display: block;
		margin: 17px;
		font-size: 20px;
		transition: all .45s ease;
		color: #fff;
	}

	.navlist a:hover {
		color: #7fd21c;
	}

	.navlist a.active {
		color: #fff;
	}

	.navlist.open {
		top: 100%;
	}
}

@media (max-width: 375px) {
  body {
    font-size: 14px;
  }

  header {
    padding: 12px 10%;
  }

  .logo {
    font-size: 32px;
  }

  .navlist {
    flex-direction: column;
    text-align: center;
    background: rgba(42, 42, 42, 0.95);
    position: absolute;
    top: 80px;
    right: 0;
    left: 0;
    transition: none;
  }

  .navlist.open {
    top: 64px;
  }

  .navlist a {
    margin: 10px 0;
    font-size: 18px;
  }

  #menu-icon {
    margin-left: 10px;
  }

  section {
    padding: 100px 10% 80px;
  }

  .about {
    grid-template-columns: 1fr;
  }

  .about-text h2 {
    font-size: 2rem;
  }

  .about-text h4 {
    font-size: 18px;
  }

  .about-text p {
    font-size: 14px;
  }

  .services-content {
    grid-template-columns: 1fr;
    margin-top: 3rem;
  }

  .box {
    padding: 25px 25px;
  }

  .s-icons i {
    font-size: 28px;
    margin-bottom: 15px;
  }

  .box h3 {
    font-size: 22px;
    margin-bottom: 12px;
  }

  .box p {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .read {
    font-size: 12px;
    padding: 6px 14px;
  }

  .contact {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .contact-text h4 {
    font-size: 18px;
  }

  .contact-text h2 {
    font-size: 2.5rem;
  }

  .contact-text p {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .list li {
    margin-bottom: 8px;
  }

  .list li a {
    font-size: 14px;
  }

  .contact-icons i {
    font-size: 18px;
    height: 40px;
    width: 40px;
  }
}
